{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}"/>

{% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<iframe src="https://giphy.com/embed/26FeWeTSUjU5QTSIo" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p>
    <a href="https://giphy.com/gifs/heyarnold-hey-arnold-nicksplat-26FeWeTSUjU5QTSIo">via GIPHY</a>
</p>